package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *   @description : ${entity} 服务接口
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

    PageUtils queryPage(Map<String, Object> params);
}

